[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansiwrap = "*"
cursor = "*"

[dev-packages]
pylint = "*"
twine = "*"
pytest = "*"
pyte = "*"
tox = "*"
tox-pyenv = "*"

[requires]
python_version = "3.7"
